<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>MiWillhite</string>
	<key>uuid</key>
	<string>893A4B3C-18FA-4FEB-A418-2A87CBC82BED</string>
</dict>
</plist>
